/* Importing Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@300;400;500;700;900&display=swap");

/* Importing component files */
/*@import url("components/reset.css");*/
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/register.css");
@import url("components/avatar.css");


/*
Website colors:
Main color (light green): #7FC5B8
Secondary color (red/orange): #E37D5F

Website fonts:
Body font: 'Open Sans', sans-serif
Headers font: 'Roboto', sans-serif
*/

/* General style rules for fonts and colors */

body {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, a {
	font-family: 'Roboto', sans-serif;
}

/*h1 { font-size: 32px }*/

h2 {
	margin-left: 50px;
	margin-top: 60px;
	font-size: 28px;
	font-weight: normal;
}

h3 {
	color: white;
	text-align: center;
}

h5 {
	color: black;
	text-align: center;
}


/*Styling for order page*/
.float-right{
	float: right;
}

.foodName{
/*	margin-top: 80px;
	margin-left: 80px;
	margin-right: 80px*/
}

#foodQuantity{
	float: left;
	margin-right: 10px;
	float: left;
	width: 30px;
	height: 30px;
	background-color: lightgrey;
	color: black;
	font-weight: bold;
	outline: none;
	border: none;
	text-align: center;
	vertical-align: middle;
}

#foodName1{
	margin-right: 10px;
	float: left;	
*/	font-size: 20px;
*/	margin-left: 50px;
}

#foodNewPrice{
	margin-right: 10px;
	float:left;
	font-size: 20px;
}

#foodOldPrice{
	float: left;
	font-size: 20px;
	text-decoration: line-through;
}

#line{
	margin: 10px;
}

#promotionCode{
	  clear: both;
/*	height: 100px;
*/}

#addpromotioncode {
	clear: both;
	color:#E37D5F;
	margin-left: 80px;
	margin-right: 80px;
	border: none;
	background-color: white;
}

#lowerLeft{
	float: left;
	padding-right: 10px;
}

.orderValue{
	clear: both;
	padding: 1px;
	text-align: center;
	background-color: black;
}

#ordervalue{
	color: white;
}


.hoverbutton {
	flex-grow: 1; 
	width: 150px; 
	height: 30px; 
	border-radius: 15px; 
	border: none;
	margin-right: 10px;
	cursor: pointer;

}

.hoverButton:hover {
    background-color: black;
    color: white;
    border: 2px solid #555555;

}

.hoverbutton2 {
	flex-grow: 1; 
	width: 50px; 
	height: 30px; 
	border-radius: 15px; 
	border: none;
	margin-right: 10px;
	cursor: pointer;

}

.hoverButton2:hover {
    background-color: black;
    color: white;
    border: 2px solid #555555;
}

#thankyoufooter{
	height: 160px;
}

.gotohomepage {
	width: 200px;
	height: 100px;
	float:left;
	color: #E37D5F;
	margin-left: 80px;
	margin-right: 80px;
	border:none;
/*	background-color: black;
*/}

.leaveareview {
	width: 200px;
	height: 100px;
	float:right;
	color: #E37D5F;
	margin-left: 80px;
	margin-right: 80px;
	border:none;
/*	background-color: black;
*/}


/*Styling for About Us page*/
/* About Veganholic */
.text-black {
	background-color: #7FC5B8;
	padding: 8px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: inline;
}

/* The Team */
.text-red {
	background-color: #7FC5B8;
	padding: 8px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: inline;
}

.img-circle {
	border-radius: 50%;
}

.name-red {
	color: #ff726f;
}

/* All team member cards */
.cards {
	display: flex;
	justify-content: space-between;
}

/*Styling for Why Vegan page*/
/* Main text of the page*/

.containerWhy {
  	width: 650px;
  	margin-left: 100px;
}

.text-big {
	color: white;
	padding: 8px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: center;
}

.text-smallWhy {
	color: white;
	padding: 8px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	text-align: inline;
}

/*Styling for News page*/
/* Main text of the page*/
.containerNews {
  	width: 650px;
  	margin-left: 100px;
  	margin-top: 50px;
}

/* Three main white buttons*/
.btn-whiteNews {
	background-color: white;
	color: black;
	padding: 10px 15px;
	border-radius: 40px;
	font-size: 20px;
}

/* Small text */
.text-smallNews {
	color: white;
	padding: 8px 0px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	margin: 20px 0px;
	font-size: 15px;
}
